////////////////////////////////
// Todo Input and Add Button

.input--container {
  // border: solid 1px red;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn--add {
    font-size: 16px;
    padding: 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 8px;
    position: relative;
    cursor: pointer;
    background-color: #000;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 2px;
      background-color: $bg-color;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      width: 12px;
      height: 2px;
      background-color: $bg-color;
    }
  }
}
