////////////////////////////////
// Login Button
.login--btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $complementary;
  border: none;
  outline: none;
  font-family: $title-font;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3 ease;
  &:hover {
    background-color: $complementaryHover;
  }
}

////////////////////////////////
// Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  z-index: 995;
  transition: all 0.2s ease;
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

////////////////////////////////
// Login Modal
.login--window {
  padding: 18px 10px;
  position: absolute;
  z-index: 1010;
  width: 380px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $complementaryHover;
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
  .title {
    font-family: $title-font;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 15px 0;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
  .btn--remove {
    width: 25px;
    height: 25px;
    &::before {
      width: 12px;
    }
    &::after {
      width: 12px;
    }
  }
}

////////////////////////////////
// Login Form
.login {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: $tasks-font;
  &--container {
    position: relative;
  }
  &--input {
    width: 100%;
    position: relative;
  }
  &--label {
    position: absolute;
    z-index: 1011;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
  &--submit {
    color: white;
    background-color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  *:not(:first-child):not(:last-child) {
    margin: 20px 0;
  }
}

.login--container.focused {
  .login--label {
    transform: translate(-5%, -135%);
    font-size: 0.75em;
    background-color: #000;
    color: white;
    padding: 0.5em 0.6em;
    border-radius: 5px;
    transition: all ease 0.2s;
  }
}
