////////////////////////////////
// Hidden Input & Checked CSS

.hidden-box {
    position: absolute;
    top: -9999px;
    left: -9999px;
    appearance: none;
    opacity: 0;
  }



  ////////////////////////////////
  // Todo List
  .todo--list {
    margin-top: 24px;
    background-color: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 450px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    .todo--label {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-bottom: solid 1px $border;
      border-radius: 5px;
      position: relative;
      .check--box {
        margin: 0 20px;
        height: 20px;
        width: 20px;
        border: solid 2px blue;
        border-radius: 5px;
      }
      .check--text {
        font-size: 18px;
        font-family: $tasks-font;
        padding: 20px;
        border-left: solid 1px $border;
        position: relative;
        //border: solid 1px red;
        &::after {
          content: '';
          display: block;
          position: absolute;
          width: 0%;
          top: 50%;
          left: 5%;
          transform: translateY(-50%);
          height: 2px;
          background-color: #000;
          transition: width 100ms ease-in-out;
        }
      }
    }
    .btn--remove {
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      outline: none;
      border: none;
      background-color: black;
      box-shadow: none;
      top: -10px;
      right: -10px;
      cursor: pointer;
      z-index: 1000;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 10px;
        height: 2px;
        background-color: white;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 10px;
        height: 2px;
        background-color: white;
      }
    }
  }

  ////////////////////////////////
  // Todo List Checked
  .todo--label.checked {
    background-color: $checked;
    .check--box {
      background-color: blue;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 5px;
        height: 12px;
        border-bottom: solid 2px white;
        border-right: solid 2px white;
      }
    }
    .check--text {
      &::after {
        width: 85%;
      }
    }
  }